.book-container {
    width: 280px;
    height: 280px;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 400px;
}

.book {
    transform: rotateY(0deg);
    position: relative;
    transform-style: preserve-3d;
    width: 280px;
    height: 280px;
    transition: transform 1s ease;
    // animation: 1s ease 0s 1 initAnimation;
}

.book:hover {
    transform: rotateY(30deg);
}

@keyframes initAnimation {
    0% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(30deg);
    }
}

.book > :first-child {
    position: absolute;
    background: #0d47a1aa;
    width: 280px;
    height: 280px;
    border-radius: 3px;
    box-shadow: 5px 5px 20px #666;
}


body {
    margin: 0;
    padding: 0;
    font-family: verdana;
    background: #CCC
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.page {
    width: 260px;
    height: 260px;
    background: #FFF;
    transform: rotate(-15deg) skewX(10deg) scale(1);
    box-shadow: -20px 20px 40px rgba(0, 0, 0, 0.5);
    border-radius: 2px;

    img {
        width: 100%;
        height: 100%;
        border-radius: 2px;
    }

    a {
        position: absolute; 
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.page h1 {
    margin: 0 0 20px 0;
    padding: 0;
    text-align: center;
    font-size: 25px;
    color: #9e9e9e;
}

.page p {
    margin: 0;
    padding: 0;
    text-align: justify
}

.page:before {
    content: "";
    width: 2px;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0px;
    left: 4px;
    transform: skewY(-45deg) translate(-6px, -5px);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.page:after {
    content: "";
    width: 100%;
    height: 2px;
    background: #CCC;
    position: absolute;
    bottom: 1px;
    left: 1px;
    transform: skewX(-45deg) translate(0px, 2px);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}